<a href="https://colab.research.google.com/github/usugunawan15/DTI-Telkom/blob/master/Tugas_Klasifikasi.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Classification**
Usu Gunawan
DS0223

Dataset bank.csv diakses dari https://www.kaggle.com/janiobachmann/bank-marketing-dataset

**Input Variabel**
1.  Age       : (numeric)
2.  Job       : (categorical: 'admin.','blue-collar','entrepreneur','housemaid','management','retired','self-employed','services','student','technician','unemployed','unknown')
3.  Marital   : (categorical: 'divorced','married','single','unknown')
4.  Education : (categorical: primary, secondary, tertiary and unknown)
5.  Default   : (categorical: 'no','yes','unknown')
6.  Housing   : (categorical: 'no','yes','unknown')
7.  Loan      : (categorical: 'no','yes','unknown')
8.  Balance   : Balance of the individual.
9.  Contact   : (categorical: 'cellular','telephone')
10. Month     : (categorical: 'jan', 'feb', 'mar', ..., 'nov', 'dec')
11. Day       : (categorical: 'mon','tue','wed','thu','fri')
12. Duration  : Last contact duration, in seconds (numeric). 
13. Campaign  : (numeric, includes last contact)
14. Pdays     : (numeric; 999 means client was not previously contacted)
15. Previous  : (numeric)
16. Poutcome  : (categorical: 'failure','nonexistent','success')
17. y(deposit): (binary: 'yes','no')

**Import Libraries**

In [3]:
# Import Library
import pandas as pd

**Import Raw Dataset**

In [20]:
# Import Data to Google Colab
df = pd.read_csv('https://raw.githubusercontent.com/usugunawan15/DTI-Telkom/master/data/bank.csv', sep = ',')
df
df.head()

   age         job  marital  education  ... pdays  previous poutcome deposit
0   59      admin.  married  secondary  ...    -1         0  unknown     yes
1   56      admin.  married  secondary  ...    -1         0  unknown     yes
2   41  technician  married  secondary  ...    -1         0  unknown     yes
3   55    services  married  secondary  ...    -1         0  unknown     yes
4   54      admin.  married   tertiary  ...    -1         0  unknown     yes

[5 rows x 17 columns]

In [22]:
# Prints the Dataset Information
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11162 entries, 0 to 11161
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        11162 non-null  int64
 1   job        11162 non-null  object
 2   marital    11162 non-null  object
 3   education  11162 non-null  object
 4   default    11162 non-null  object
 5   balance    11162 non-null  int64
 6   housing    11162 non-null  object
 7   loan       11162 non-null  object
 8   contact    11162 non-null  object
 9   day        11162 non-null  int64
 10  month      11162 non-null  object
 11  duration   11162 non-null  int64
 12  campaign   11162 non-null  int64
 13  pdays      11162 non-null  int64
 14  previous   11162 non-null  int64
 15  poutcome   11162 non-null  object
 16  deposit    11162 non-null  object
dtypes: int64(7), object(10)
memory usage: 1.4+ MB

In [23]:
# Prints Descriptive Statistics
df.describe().transpose()

            count         mean          std  ...    50%      75%      max
age       11162.0    41.231948    11.913369  ...   39.0    49.00     95.0
balance   11162.0  1528.538524  3225.413326  ...  550.0  1708.00  81204.0
day       11162.0    15.658036     8.420740  ...   15.0    22.00     31.0
duration  11162.0   371.993818   347.128386  ...  255.0   496.00   3881.0
campaign  11162.0     2.508421     2.722077  ...    2.0     3.00     63.0
pdays     11162.0    51.330407   108.758282  ...   -1.0    20.75    854.0
previous  11162.0     0.832557     2.292007  ...    0.0     1.00     58.0

[7 rows x 8 columns]

Data Preprocessing

Handling Missing Values

In [24]:
# Check for Missing Values
df.isnull().sum()

age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
deposit      0
dtype: int64

In [39]:
# Encode Categorical Data
df['default'].replace('no',0, inplace=True)
df['default'].replace('yes',1, inplace=True)
df['housing'].replace('no',0, inplace=True)
df['housing'].replace('yes',1, inplace=True)
df['loan'].replace('no',0, inplace=True)
df['loan'].replace('yes',1, inplace=True)
df['deposit'].replace('no',0, inplace=True)
df['deposit'].replace('yes',1, inplace=True)
df_encoded = pd.get_dummies(df, columns=['job', 'education', 'marital', 'contact', 'poutcome', 'month'])

df_encoded.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11162 entries, 0 to 11161
Data columns (total 49 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   age                  11162 non-null  int64
 1   default              11162 non-null  int64
 2   balance              11162 non-null  int64
 3   housing              11162 non-null  int64
 4   loan                 11162 non-null  int64
 5   day                  11162 non-null  int64
 6   duration             11162 non-null  int64
 7   campaign             11162 non-null  int64
 8   pdays                11162 non-null  int64
 9   previous             11162 non-null  int64
 10  deposit              11162 non-null  int64
 11  job_admin.           11162 non-null  uint8
 12  job_blue-collar      11162 non-null  uint8
 13  job_entrepreneur     11162 non-null  uint8
 14  job_housemaid        11162 non-null  uint8
 15  job_management       11162 non-null  uint8
 16  job_retired          11162 non-null  uint8
 17  job_self-employed    11162 non-null  uint8
 18  job_services         11162 non-null  uint8
 19  job_student          11162 non-null  uint8
 20  job_technician       11162 non-null  uint8
 21  job_unemployed       11162 non-null  uint8
 22  job_unknown          11162 non-null  uint8
 23  education_primary    11162 non-null  uint8
 24  education_secondary  11162 non-null  uint8
 25  education_tertiary   11162 non-null  uint8
 26  education_unknown    11162 non-null  uint8
 27  marital_divorced     11162 non-null  uint8
 28  marital_married      11162 non-null  uint8
 29  marital_single       11162 non-null  uint8
 30  contact_cellular     11162 non-null  uint8
 31  contact_telephone    11162 non-null  uint8
 32  contact_unknown      11162 non-null  uint8
 33  poutcome_failure     11162 non-null  uint8
 34  poutcome_other       11162 non-null  uint8
 35  poutcome_success     11162 non-null  uint8
 36  poutcome_unknown     11162 non-null  uint8
 37  month_apr            11162 non-null  uint8
 38  month_aug            11162 non-null  uint8
 39  month_dec            11162 non-null  uint8
 40  month_feb            11162 non-null  uint8
 41  month_jan            11162 non-null  uint8
 42  month_jul            11162 non-null  uint8
 43  month_jun            11162 non-null  uint8
 44  month_mar            11162 non-null  uint8
 45  month_may            11162 non-null  uint8
 46  month_nov            11162 non-null  uint8
 47  month_oct            11162 non-null  uint8
 48  month_sep            11162 non-null  uint8
dtypes: int64(11), uint8(38)
memory usage: 1.3 MB

In [36]:
# Show Encoded Dataframe
df_encoded

       age  default  balance  ...  month_nov  month_oct  month_sep
0       59        0     2343  ...          0          0          0
1       56        0       45  ...          0          0          0
2       41        0     1270  ...          0          0          0
3       55        0     2476  ...          0          0          0
4       54        0      184  ...          0          0          0
...    ...      ...      ...  ...        ...        ...        ...
11157   33        0        1  ...          0          0          0
11158   39        0      733  ...          0          0          0
11159   32        0       29  ...          0          0          0
11160   43        0        0  ...          0          0          0
11161   34        0        0  ...          0          0          0

[11162 rows x 49 columns]